Bonjour Madame Kania,


Je suis le père de Victor SHEN TANG (GS2). Suite à un changement du travail professionnel, je voudrais annuler la garderie de Victor pour tous les lundis.
Je suis désolé pour la gêne occasionne


Merci d'avance pour votre retour.



Cordialement,
